<!-- HamburgerMenu.razor -->

<div class="hamburger-menu">
    <input type="checkbox" id="menu-toggle" @onclick="ToggleMenu">
    <label for="menu-toggle" class="menu-button">
        <span class="bar"></span>
        <span class="bar"></span>
        <span class="bar"></span>
    </label>

    <ul class="menu-items">
        <li><NavLink href="" Match="NavLinkMatch.All">Home</NavLink></li>
        <li><NavLink href="counter">Counter</NavLink></li>
        <li><NavLink href="customer">Boka tid</NavLink></li>
    </ul>
</div>

@code {
    private bool isMenuOpen = false;

    private void ToggleMenu()
    {
        isMenuOpen = !isMenuOpen;
    }
}
