
    <div class="topdiv">
        <picture>  <source media="(max-width:800px)" srcset="/images/hair600.jpg" alt="Hair Image">
<source media="(max-width:1024px)" class="headerImg" srcset="/images/hair800.jpg" alt="Hair Image">
<img src="/images/hair1600.jpg" class="headerImg" alt="Hair Image">
</picture>  
</div>

<div class="hamburger-menu">
    <input type="checkbox" id="menu-toggle" @onclick="ToggleMenu">
    <label for="menu-toggle" class="menu-button">
        <span class="bar"></span>
        <span class="bar"></span>
        <span class="bar"></span>
    </label>

    <ul class="menu-items">
        <li><NavLink href="" Match="NavLinkMatch.All" class="aLink">Home</NavLink></li>
        <li><NavLink href="counter" class="aLink">Counter</NavLink></li>
        <li><NavLink href="customer" class="aLink">Boka tid</NavLink></li>
    </ul>
</div>

@code {
    private bool isMenuOpen = false;

    private void ToggleMenu()
    {
        isMenuOpen = !isMenuOpen;
    }
}
