/*  ---Webbutvecklingsprogrammet
Webbutveckling med .NET DT191G 
Sofia Dahlberg 
VT 2024--- */

/* Allmän kod för alla storlekar */
body {
    margin: 0;
    font-family: "Montserrat", sans-serif;
}

h1 {
    background-color: rgb(3, 33, 3);
    color: white;
    padding: 1%;
    font-family: "Libre Baskerville", serif;
}

/* Bekräftelsemeddelande vid lyckat post-anrop */
.success-message {
    color: green;
    margin-top: 10px;
}

/* Felmeddelande om datum och tid inte är inom öppettiderna */
.error-message {
    color: red;

}

legend {
    font-weight: bold;
    margin-top: 3%;
}

/* Navigering + meny*/
.menu-button {
    position: fixed;
    top: 60px;
    right: 40px;
    width: 40px;
    height: 40px;
    background-color: #032103;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
}

.menu-button::before,
.menu-button::after {
    content: "";
    position: absolute;
    width: 28px;
    height: 2px;
    background-color: #fff;
    transform: translateY(-5px);
    transition: 0.2s;
}


.menu-button::before {
    transform: translateY(-5px);
}

.menu-button::after {
    transform: translateY(5px);
}

.menu-button.active::before {
    transform: translateY(0px) rotate(45deg);
}

.menu-button.active::after {
    transform: translateY(0px) rotate(-45deg);
}

/* Navigation menu */
.menu-items {
    display: none;
    /* Initially hide the menu */
    position: fixed;
    top: 20%;
    right: 0;

    height: 50%;
    background-color: rgb(3, 33, 3, 0.9);
    z-index: 1;
}

.menu-items ul {
    list-style: none;
    padding: 0;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.menu-items li {
    padding: 20px;
}

.menu-items a {
    text-decoration: none;
    color: #fff;
    font-size: 18px;
}

.menu-items a:hover {
    text-decoration: underline;
}

/* Visa menyn om checkbox är itryckt */
#menu-toggle:checked+.menu-button+.menu-items {
    display: block;
}

/* Visar inte checkbox */
#menu-toggle {
    display: none;
}

input {
    padding: 2%;
    margin-bottom: 2%;
}

.group-information {
    display: block;
    margin: 0;
    padding: 0;
}

/* Knappar + hover*/
.AvailableBtn {
    background-color: #032103;
    color: #ffffff;
    border: white solid 1px;
}

.BookBtn {
    padding: 3%;
    background-color: rgb(3, 33, 3);
    margin-left: 60%;
    margin-top: 3%;
    font-family: "Montserrat", sans-serif;
    font-size: 16px;
    color: #ffffff;
}

.HomeBtn {
    background-color: rgb(3, 33, 3);
    color: #ffffff;
    cursor: pointer;
    font-family: "Montserrat", sans-serif;
    font-size: 22px;
}

.HomeBtn:hover,
.AvailableBtn:hover,
.BookBtn:hover {
    background-color: #bcd9cf;
    color: #000000;
    border: 2px solid #000000;
    text-decoration: underline;
    cursor: pointer;
}


.mailtext {
    color: #ffffff;
    text-decoration: none;
}

.mailtext:hover {
    text-decoration: underline;
}

/*Available-sidan*/
.availablediv {
    margin: 0 auto;
    border: black 2px solid;
    background-color: rgb(206, 206, 206);
}

.availablediv a {
    color: #000000;
}

@media only screen and (max-width: 800px) {

    /* Bredd på lielementen i menyn*/
    .menu-items {
        width: 70%;
    }

    .headerImg {
        width: 100%;
        height: auto;
        margin: 0 auto;
    }

    /*Home-sida*/
    .openingHoursDiv {
        margin: 0 auto;
        width: 280px;
        border: 1px solid #a7a8a8;
        padding: 10px;
        /* Skuggning på div */
        box-shadow: inset 0 0 19px rgba(0, 0, 0, 0.5);
    }

    /*Home*/
    .home-text-btn {
        margin: 0 auto;
        width: 80%;
        line-height: 25px;
    }

    /* Knapp Home*/
    .HomeBtn {
        margin-left: 40%;
        padding: 4%;
        margin-bottom: 7%;
    }

    /* Opening-hours- komponent */
    .h2openingHours,
    .h2Home {
        text-align: center;
        font-size: 16px;
        font-family: "Libre Baskerville", serif;
    }

    li {
        list-style: none;
        line-height: 25px;
        font-size: 14px;
        font-family: "Montserrat", sans-serif;
    }

    /*Customer - sida*/
    /*Container över kategorierna (ikoner) */
    .category-container {
        margin: 0 auto;
        width: 80%;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 200px);
        grid-row-gap: 1px;

    }

    .icon-container1,
    .icon-container2,
    .icon-container3,
    .icon-container4 {
        background-color: #d1cfcf;
        padding: 20px;
        border-radius: 10px;
        width: 110px;
        max-width: 110px;
        height: 100px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 16px;
        font-family: sans-serif;
        box-shadow: 8px 8px 8px rgba(0, 0, 0, 0.3);
        text-align: center;
        cursor: pointer;
    }

    /* Grid-placering */
    .icon-container1 {
        grid-area: 1 / 1 / 2 / 2;
    }

    .icon-container2 {
        grid-area: 2 / 1 / 2 / 2;
    }

    .icon-container3 {
        grid-area: 1/ 2 / 2 / 3;
    }

    .icon-container4 {
        grid-area: 2 / 2 / 3 / 3;
    }

    .icon-container1 span,
    .icon-container2 span,
    .icon-container3 span,
    .icon-container4 span {
        display: block;
        /* Block-element */
        margin-bottom: 1px;

    }

    .icon-container.clicked {
        /* Border-färg runt vald div */
        border: rgb(19, 84, 188) 3px solid;
        background-color: #d1cfcf;
        padding: 20px;
        border-radius: 10px;
        width: 110px;
        max-width: 110px;
        height: 100px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 16px;
        font-family: sans-serif;
        box-shadow: 8px 8px 8px rgba(0, 0, 0, 0.3);
        text-align: center;
    }

    .customerImg {
        display: block;
        margin: 0 auto;
        height: 80px;
    }

    /*About-sida*/
    .aboutText {
        margin: 0 auto;
        width: 80%;
        line-height: 25px;
    }

    /*Footer*/
    footer {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        background-color: rgb(3, 33, 3);
        color: #ffffff;
        padding: 2%;
        line-height: 20px;
        margin-top: 5%;
    }



    /*AvailablePage*/
    .availablediv {
        width: 80%;
        padding: 3%;
        line-height: 25px;
        margin-bottom: 3%;
    }

    .AvailableBtn {
        margin-right: 3%;
        padding: 2%;
        font-family: "Montserrat", sans-serif;
        font-size: 14px;
    }

    /*Vid lyckat post-anrop*/
    .success-message {
        margin-left: 30%;
        font-size: 18px;
        text-decoration: underline;
    }
}

@media only screen and (min-width: 801px) and (max-width: 1024px) {

    .headerImg {
        width: 100%;
        height: auto;
        max-width: 1024px;
        margin: 0 auto;

    }

    /* Bredd på li-elementen i menyn*/
    .menu-items {
        width: 40%;
        margin-right: 5%;
    }

    /*Home-sidan*/
    .openingHoursDiv {
        margin: 0 auto;
        width: 280px;
        border: 1px solid #a7a8a8;
        padding: 10px;
        /* Skuggning på div */
        box-shadow: inset 0 0 19px rgba(0, 0, 0, 0.5);

    }

    .textHome {
        margin: 0 auto;
        width: 60%;
        line-height: 25px;
    }

    .h2openingHours,
    .h2Home {
        text-align: center;
        font-size: 16px;
        font-family: "Libre Baskerville", serif;
    }

    /*Main*/
    /*Customer*/
    /*Container över imgdivarna */
    .category-container {
        width: 80%;
        margin: 0 auto;
        display: grid;
        /* Grid */
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: 200px;
        column-gap: 10px;

    }

    /* Container över kategorierna (ikoner)*/
    .icon-container1,
    .icon-container2,
    .icon-container3,
    .icon-container4 {
        background-color: #d1cfcf;
        padding: 20px;
        border-radius: 10px;
        width: 110px;
        max-width: 110px;
        height: 100px;
        display: block;
        align-items: center;
        justify-content: center;
        font-size: 16px;
        font-family: sans-serif;
        box-shadow: 8px 8px 8px rgba(0, 0, 0, 0.3);
        text-align: center;
        cursor: pointer;
    }

    .icon-container1 {
        grid-area: 1 / span 1;
    }

    .icon-container2 {
        grid-column: 2 / span 1;
    }

    .icon-container3 {
        grid-column: 3 / span 1;
    }

    .icon-container4 {
        grid-column: 4 / span 1;
    }

    .icon-container1 span,
    .icon-container2 span,
    .icon-container3 span,
    .icon-container4 span {
        display: block;
        margin-bottom: 5px;
    }

    .icon-container.clicked {
        /* Border-färg vid vald behandlingskategori*/
        border: rgb(19, 84, 188) 3px solid;
        background-color: #d1cfcf;
        padding: 20px;
        border-radius: 10px;
        width: 110px;
        max-width: 110px;
        height: 100px;
        display: block;
        align-items: center;
        justify-content: center;
        font-size: 16px;
        font-family: sans-serif;
        box-shadow: 8px 8px 8px rgba(0, 0, 0, 0.3);
        text-align: center;
    }

    .customerImg {
        display: block;
        margin: 0 auto;
        height: 80px;
    }

    /* formulär*/
    fieldset {
        margin: 0 auto;
        width: 50%;
    }

    .form-container {
        margin-top: 5%;
    }

    /* HomeBtn*/
    .HomeBtn {
        padding: 2%;
        margin-right: 10%;
        float: right;
        display: block;
    }

    /*About-sidan*/
    .aboutText {
        margin: 0 auto;
        width: 70%;
        line-height: 25px;
    }


    /*Footer*/
    footer {
        margin-top: 5%;
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        background-color: rgb(3, 33, 3);
        color: #ffffff;
        padding: 2%;
        line-height: 20px;
    }

    /*AvailableSida + knapp*/
    .availablediv {
        width: 80%;
        padding: 3%;
        line-height: 25px;
    }

    .AvailableBtn {
        margin-right: 3%;
        padding: 2%;
        font-family: "Montserrat", sans-serif;
        font-size: 14px;
    }

    /*Meddelande vid lyckat post-anrop*/
    .success-message {
        margin-left: 40%;
        font-size: 18px;
        text-decoration: underline;
    }
}

@media only screen and (min-width: 1025px) {

    .headerImg {
        width: 100%;
        height: auto;
        max-width: 1300px;
        margin: 0 auto;
    }

    /* Bredd på lielementen i menyn*/
    .menu-items {
        width: 30%;
        margin-right: 5%;
    }

    /*Home-sidan*/
    .openingHoursDiv {
        width: 320px;
        border: 1px solid #a7a8a8;
        padding: 10px;
        /* Skuggning på div */
        box-shadow: inset 0 0 19px rgba(0, 0, 0, 0.5);
        margin-top: 15%;
        line-height: 25px;
    }

    /* För att få OpeningHourkomponenten bredvid annat innehål
     på start och boka tid-sidorna */
    .form-container,
    .home-container {
        width: 90%;
        display: flex;
        justify-content: space-between;
    }

    .home-text-btn {
        margin-top: 3%;
        margin-left: 10%;
    }

    .textHome {
        width: 100%;
    }

    /* OpeningHour-komponenten*/
    .opening-hours-container {
        width: 280px;
        margin-left: 70px;
        margin-top: 30px;
    }

    /*Informationstext på startsidan */
    .textHome {
        width: 60%;
        padding: 2%;
        line-height: 25px;
        margin-left: 20%;
    }

    .h2openingHours,
    .h2Home {
        text-align: center;
        font-size: 16px;
        font-family: "Libre Baskerville", serif;
    }

    /*Main*/
    /*Customer*/
    /*Container över imgdivarna */
    .category-container {
        width: 80%;
        margin: 0 auto;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: 200px;
        column-gap: 5px;
        cursor: pointer;
    }

    /* Container över behandlingskategorierna (ikoner)*/
    .icon-container1,
    .icon-container2,
    .icon-container3,
    .icon-container4 {
        background-color: #d1cfcf;
        padding: 20px;
        border-radius: 10px;
        width: 110px;
        max-width: 110px;
        height: 100px;
        display: block;
        align-items: center;
        justify-content: center;
        font-size: 16px;
        font-family: sans-serif;
        box-shadow: 8px 8px 8px rgba(0, 0, 0, 0.3);
        text-align: center;
    }

    /* Placering med Grid */
    .icon-container1 {
        grid-area: 1 / span 1;
    }

    .icon-container2 {
        grid-column: 2 / span 1;
    }

    .icon-container3 {
        grid-column: 3 / span 1;
    }

    .icon-container4 {
        grid-column: 4 / span 1;

    }

    .icon-container1 span,
    .icon-container2 span,
    .icon-container3 span,
    .icon-container4 span {
        display: block;
        margin-bottom: 5px;
    }

    .icon-container.clicked {
        /* Border för markerad div */
        border: rgb(19, 84, 188) 3px solid;
        background-color: #d1cfcf;
        padding: 20px;
        border-radius: 10px;
        width: 110px;
        max-width: 110px;
        height: 100px;
        display: block;
        align-items: center;
        justify-content: center;
        font-size: 16px;
        font-family: sans-serif;
        box-shadow: 8px 8px 8px rgba(0, 0, 0, 0.3);
        text-align: center;
    }


    .customerImg {
        display: block;
        margin: 0 auto;
        height: 80px;
    }


    /* formulär*/
    fieldset {
        margin: 0 auto;
        width: 60%;
    }

    /* Knapp home*/
    .HomeBtn {
        padding: 2%;
        margin: 0 auto;
        display: block;

    }

    /*Aboutö-sidan*/
    .aboutText {
        margin: 0 auto;
        width: 40%;
        line-height: 25px;
    }

    /*Footer*/
    footer {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        background-color: rgb(3, 33, 3);
        color: #ffffff;
        padding: 2%;
        line-height: 20px;
        margin-top: 5%;
    }

    .AvailableBtn {
        margin-right: 3%;
        padding: 1%;
        font-family: "Montserrat", sans-serif;
        font-size: 16px;
    }

    .availablediv {
        width: 40%;
        padding: 3%;
        line-height: 25px;
        margin-bottom: 3%;
    }

    form {
        width: 100%;
        line-height: 25px;
    }

    /*Meddelande vid lyckat post-anrop*/
    .success-message {
        margin-left: 40%;
        font-size: 18px;
        text-decoration: underline;
    }
}