body {
    margin: 0;
    font-family: "Montserrat", sans-serif;
}

h1 {
    background-color: rgb(3, 33, 3);
    color: white;
    padding: 1%;
    font-family: "Libre Baskerville", serif;
}

.success-message {
    color: green;
    margin-top: 10px;
}

legend{
    font-weight: bold;
    margin-top: 3%;
}

/* Navigering + meny*/
.menu-button {
    position: fixed;
    top: 60px;
    right: 40px;
    width: 40px;
    height: 40px;
    background-color: #032103;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
  }
  
  .menu-button::before,   .menu-button::after  {
    content: "";
    position: absolute;
    width: 28px;
    height: 2px;
    background-color: #fff;
    transform: translateY(-5px);
    transition: 0.2s;
  }
  

.menu-button::before {
    transform: translateY(-5px);
}

.menu-button::after {
    transform: translateY(5px);
}
.menu-button.active::before {
    transform: translateY(0px) rotate(45deg);
}

.menu-button.active::after {
    transform: translateY(0px) rotate(-45deg);
}

  /* Navigation menu */
  .menu-items {
    display: none; /* Initially hide the menu */
    position: fixed;
    top: 20%;
    right: 0;
    width: 40%;
    height: 50%;
    background-color: rgb(3, 33, 3, 0.9);
    z-index: 1;
  }
  
  .menu-items ul {
    list-style: none;
    padding: 0;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    
    transform: translate(-50%, -50%);
  }
  
  .menu-items li {
    padding: 20px;
  }
  
  .menu-items a {
    text-decoration: none;
    color: #fff;
    font-size: 18px;
  }
  
  /* Show the menu when the checkbox is checked */
  #menu-toggle:checked + .menu-button + .menu-items {
    display: block;
  }
  

input{
    padding: 2%;
    margin-bottom: 2%;
}

.group-information{
    display: block;
    margin: 0;
    padding: 0;
}

.AvailableBtn {
    background-color: #032103;
    color: #ffffff;
   
    border: white solid 1px;
}

.BookBtn {
    padding: 3%;
    background-color: rgb(3, 33, 3);
    margin-left: 60%;
    margin-top: 3%;
    font-family: "Montserrat", sans-serif;
    font-size: 16px;
    color: #ffffff;
}


.bar {
    display: block;
    width: 30px;
    height: 3px;
    background-color: #333;
    margin: 6px 0;
    transition: 0.4s;
}

/* Knapp home + hover*/
.HomeBtn {
    background-color: rgb(3, 33, 3);
    color: #ffffff;
    cursor: pointer;
    font-family: "Montserrat", sans-serif;
    font-size: 22px;

}

.HomeBtn:hover, .AvailableBtn:hover, .BookBtn:hover {
    background-color: #bcd9cf;
    color: #000000;
    border: 2px solid #000000;
    text-decoration: underline;
    cursor: pointer;
}

#menu-toggle {
    display: none;
}

#menu-toggle:checked+.menu-button .bar:nth-child(1) {
    transform: rotate(-45deg) translate(-5px, 6px);
}

#menu-toggle:checked+.menu-button .bar:nth-child(2) {
    opacity: 0;
}

#menu-toggle:checked+.menu-button .bar:nth-child(3) {
    transform: rotate(45deg) translate(-5px, -6px);
}


#menu-toggle:checked+.menu-button+.menu-items {
    display: block;
}

/*Li i menyn*/
.menu-items li {
    padding: 10px;
    border-bottom: 0.5px solid #00013c;
}

.mailtext {
    color: #ffffff;
    text-decoration: none;
}

.mailtext:hover {
    text-decoration: underline;
}

/*Available*/
.availablediv {
    margin: 0 auto;
    border: black 2px solid;

    background-color: rgb(206, 206, 206);
}

.availablediv a {
    color: #000000;

}

.error-message{
    color: red;

}

@media only screen and (max-width: 800px) {

    /* Bredd på lielementen i menyn*/
    .menu-items {
        width: 90%;
    }

    .headerImg {
        width: 100%;
        height: auto;

        margin: 0 auto;

    }

    /*Home*/
    .openingHoursDiv {
        margin: 0 auto;
        width: 280px;
        border: 1px solid #a7a8a8;
        padding: 10px;
        /* Skuggning på div */
        box-shadow: inset 0 0 19px rgba(0, 0, 0, 0.5);

    }

    .h2openingHours,
    .h2Home {
        text-align: center;
        font-size: 16px;
        font-family: "Libre Baskerville", serif;
    }

    li {
        list-style: none;
        line-height: 25px;
        font-size: 14px;
        font-family: "Montserrat", sans-serif;
    }

    /*Customer*/
    /*Container över imgdivarna */
    .category-container {
        margin: 0 auto;
        width: 80%;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 200px);
        grid-row-gap: 1px;

    }


    /* Container över bilder*/
    .icon-container1,
    .icon-container2,
    .icon-container3,
    .icon-container4 {
        background-color: #d1cfcf;
        padding: 20px;
        border-radius: 10px;
        width: 110px;
        max-width: 110px;
        height: 100px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 16px;
        font-family: sans-serif;
        box-shadow: 8px 8px 8px rgba(0, 0, 0, 0.3);
        text-align: center;
        cursor: pointer;
    }

    .icon-container1 {
        grid-area: 1 / 1 / 2 / 2;
        /* Row 1, Column 1 */
    }

    .icon-container2 {
        grid-area: 2 / 1 / 2 / 2;
    }

    .icon-container3 {
        grid-area: 1/ 2 / 2 / 3;
    }

    .icon-container4 {
        grid-area: 2 / 2 / 3 / 3;
    }

    .icon-container1 span,
    .icon-container2 span,
    .icon-container3 span,
    .icon-container4 span {
        display: block;
        /* Make the span a block element */
        margin-bottom: 1px;
        /* Add some space between the span and the image */
    }

    .icon-container.clicked {
        border: rgb(19, 84, 188) 3px solid;
        /* Border color for the clicked div */
        background-color: #d1cfcf;
        padding: 20px;
        border-radius: 10px;
        width: 110px;
        max-width: 110px;
        height: 100px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 16px;
        font-family: sans-serif;
        box-shadow: 8px 8px 8px rgba(0, 0, 0, 0.3);
        text-align: center;
    }

    .customerImg {
        display: block;
        /* Make the image a block element */
        margin: 0 auto;
        /* Center the image horizontally */
        height: 80px;
    }

    /*Home*/
    .home-text-btn {
        margin: 0 auto;
        width: 80%;
        line-height: 25px;
    }

    /* Knapp Home*/
    .HomeBtn {
        margin-left: 40%;
        padding: 4%;
        margin-bottom: 7%;
    }

    /*About*/
    .aboutText {
        margin: 0 auto;
        width: 80%;
        line-height: 25px;
    }

    /*Footer*/
    footer {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        background-color: rgb(3, 33, 3);
        color: #ffffff;
        padding: 2%;
        line-height: 20px;
        margin-top: 5%;
    }

    .AvailableBtn {
        margin-right: 3%;
        padding: 2%;
        font-family: "Montserrat", sans-serif;
        font-size: 14px;
    }

    /*AvailablePage*/
    .availablediv {
        width: 80%;
        padding: 3%;
        line-height: 25px;
        margin-bottom: 3%;
    }

    /*Meddelande skickat*/
    .success-message {
        margin-left: 30%;
        font-size: 18px;
        text-decoration: underline;
    }
}

@media only screen and (min-width: 801px) and (max-width: 1024px) {

    .headerImg {
        width: 100%;
        height: auto;
        max-width: 1024px;
        margin: 0 auto;

    }

    /* Width on li-elements in menu*/
    .menu-items {
        width: 50%;
    }

    /*Home*/
    .openingHoursDiv {
        margin: 0 auto;
        width: 280px;
        border: 1px solid #a7a8a8;
        padding: 10px;
        /* Skuggning på div */
        box-shadow: inset 0 0 19px rgba(0, 0, 0, 0.5);

    }

    .textHome {
        margin: 0 auto;
        width: 60%;
        line-height: 25px;
    }

    .h2openingHours,
    .h2Home {
        text-align: center;
        font-size: 16px;
        font-family: "Libre Baskerville", serif;
    }

    /*Main*/
    /*Customer*/
    /*Container över imgdivarna */
    .category-container {
        width: 80%;
        margin: 0 auto;
        display: grid;
        /* Change to grid instead of flex */
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: 200px;
        column-gap: 10px;

    }

    /* Container över bilder*/
    .icon-container1,
    .icon-container2,
    .icon-container3,
    .icon-container4 {
        background-color: #d1cfcf;
        padding: 20px;
        border-radius: 10px;
        width: 110px;
        max-width: 110px;
        height: 100px;
        display: block;
        align-items: center;
        justify-content: center;
        font-size: 16px;
        font-family: sans-serif;
        box-shadow: 8px 8px 8px rgba(0, 0, 0, 0.3);
        text-align: center;
        cursor: pointer;
    }

    .icon-container1 {
        grid-area: 1 / span 1;
        /* Row 1, Column 1 */
    }

    .icon-container2 {
        grid-column: 2 / span 1;
        /* Start from column 2 and span 1 column */
    }

    .icon-container3 {
        grid-column: 3 / span 1;
        /* Start from column 3 and span 1 column */
    }

    .icon-container4 {
        grid-column: 4 / span 1;
        /* Start from column 4 and span 1 column */
    }

    .icon-container1 span,
    .icon-container2 span,
    .icon-container3 span,
    .icon-container4 span {
        display: block;
        /* Make the span a block element */
        margin-bottom: 5px
        /* Add some space between the span and the image */
    }

    .icon-container.clicked {
        border: rgb(19, 84, 188) 3px solid;
        /* Border color for the clicked div */
        background-color: #d1cfcf;
        padding: 20px;
        border-radius: 10px;
        width: 110px;
        max-width: 110px;
        height: 100px;
        display: block;
        align-items: center;
        justify-content: center;
        font-size: 16px;
        font-family: sans-serif;
        box-shadow: 8px 8px 8px rgba(0, 0, 0, 0.3);
        text-align: center;
    }


    .customerImg {
        display: block;
        margin: 0 auto;
        height: 80px;
    }

    /* formulär*/
    fieldset {
        margin: 0 auto;
        width: 50%;
    }

    .form-container {
        margin-top: 5%;
    }

    /* HomeBtn*/
    .HomeBtn {
        padding: 2%;
        margin-right: 10%;
        float: right;
        display: block;

    }

    /*About*/
    .aboutText {
        margin: 0 auto;
        width: 70%;
        line-height: 25px;
    }


    /*Footer*/
    footer {
        margin-top: 5%;
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        background-color: rgb(3, 33, 3);
        color: #ffffff;
        padding: 2%;
        line-height: 20px;
    }
 /*AvailableSida + knapp*/

    .availablediv {
        width: 80%;
        padding: 3%;
        line-height: 25px;
    }

    .AvailableBtn {
        margin-right: 3%;
        padding: 2%;
        font-family: "Montserrat", sans-serif;
        font-size: 14px;
    }

   
     /*Meddelande skickat*/
     .success-message {
        margin-left: 40%;
        font-size: 18px;
        text-decoration: underline;
    }
}

@media only screen and (min-width: 1025px) {

    .headerImg {
        width: 100%;
        height: auto;
        max-width: 1300px;
        margin: 0 auto;
    }

   

    /*Home*/
    .openingHoursDiv {
        width: 320px;
        border: 1px solid #a7a8a8;
        padding: 10px;
        /* Skuggning på div */
        box-shadow: inset 0 0 19px rgba(0, 0, 0, 0.5);
        margin-top: 15%;
        line-height: 25px;
    }
/* För att få OpeningHourkomponenten bredvid på start och bokatid-sidorna */
    .form-container,
    .home-container {
        width: 90%;
        display: flex;
        justify-content: space-between;
      
    }

    .home-text-btn {
        margin-top: 3%;
        margin-left: 10%;
    }

    .textHome {
        width: 100%;
    }
/* OpeningHour-komponenten*/
    .opening-hours-container {
        width: 280px;
        margin-left: 70px;
        margin-top: 30px;
    }
/*Informationstext på startsidan */
    .textHome {
        width: 60%;
        padding: 2%;
        line-height: 25px;
        margin-left: 20%;
    }

    .h2openingHours,
    .h2Home {
        text-align: center;
        font-size: 16px;
        font-family: "Libre Baskerville", serif;
    }

    /*Main*/
    /*Customer*/
    /*Container över imgdivarna */
    .category-container {
        width: 80%;
        margin: 0 auto;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: 200px;
        column-gap: 5px;
        cursor: pointer;
    }

    /* Container över bilder*/
    .icon-container1,
    .icon-container2,
    .icon-container3,
    .icon-container4 {
        background-color: #d1cfcf;
        padding: 20px;
        border-radius: 10px;
        width: 110px;
        max-width: 110px;
        height: 100px;
        display: block;
        align-items: center;
        justify-content: center;
        font-size: 16px;
        font-family: sans-serif;
        box-shadow: 8px 8px 8px rgba(0, 0, 0, 0.3);
        text-align: center;
    }
/* Placering med Grid */
    .icon-container1 {
        grid-area: 1 / span 1;
    }

    .icon-container2 {
        grid-column: 2 / span 1;
    }

    .icon-container3 {
        grid-column: 3 / span 1;
   
    }

    .icon-container4 {
        grid-column: 4 / span 1;
     
    }

    .icon-container1 span,
    .icon-container2 span,
    .icon-container3 span,
    .icon-container4 span {
        display: block;
        margin-bottom: 5px;
    }

    .icon-container.clicked {
        /* Border för markerad div */
        border: rgb(19, 84, 188) 3px solid;
        background-color: #d1cfcf;
        padding: 20px;
        border-radius: 10px;
        width: 110px;
        max-width: 110px;
        height: 100px;
        display: block;
        align-items: center;
        justify-content: center;
        font-size: 16px;
        font-family: sans-serif;
        box-shadow: 8px 8px 8px rgba(0, 0, 0, 0.3);
        text-align: center;
    }


    .customerImg {
        display: block;
        /* Make the image a block element */
        margin: 0 auto;
        /* Center the image horizontally */
        height: 80px;
    }


    /* formulär*/
    fieldset {
        margin: 0 auto;
        width: 60%;
    }

    /* Knapp home*/
    .HomeBtn {
        padding: 2%;
        margin: 0 auto;
        display: block;

    }

    /*About*/
    .aboutText {
        margin: 0 auto;
        width: 40%;
        line-height: 25px;
    }

    /*Footer*/
    footer {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        background-color: rgb(3, 33, 3);
        color: #ffffff;
        padding: 2%;
        line-height: 20px;
        margin-top: 5%;
    }

    .AvailableBtn {
        margin-right: 3%;
        padding: 1%;
        font-family: "Montserrat", sans-serif;
        font-size: 16px;
    }

    .availablediv {
        width: 40%;
        padding: 3%;
        line-height: 25px;
        margin-bottom: 3%;
    }

    form {
        width: 100%;
        line-height: 25px;
    }
 /*Meddelande skickat*/
 .success-message {
    margin-left: 40%;
    font-size: 18px;
    text-decoration: underline;
}
}