@{
    ViewData["Title"] = "Startsida";
}

<div class="text-center">
    <h1 class="display-4">Välkommen</h1>
    <p>Ruddeby's salong</p>
    <img class="imageClass"src="../images/admin200.jpg" alt="bild på flaskor">
</div>
