@page "/about"

@* ---Webbutvecklingsprogrammet
Webbutveckling med .NET DT191G 
Sofia Dahlberg 
VT 2024---
 *@

<PageTitle>Om oss</PageTitle>

<h1>Om oss</h1>
<div class="aboutText">
    <p>Välkommen till Ruddebys Frisör,
        din personliga och professionella
        partner för skönhet och stil. Vi är
        inte bara en frisersalong, vi är en
        destination där din unika skönhet
        framhävs och ditt välbefinnande
        sätts i fokus.</p>

    <p>
        Hos oss möts du av ett dedikerat team av
        erfarna och passionerade frisörer som
        brinner för att skapa magiska ögonblick.
        Vi förstår att varje kund är unik och
        strävar efter att skapa skräddarsydda
        frisyrer och färgbehandlingar som inte
        bara passar din personlighet utan även
        tar hänsyn till din livsstil.</p>

    <p>Vår salong är en plats där du kan slappna
        av och låta oss ta hand om dig. Vi tror på
        att erbjuda en helhetsupplevelse, där
        professionell service möter en avslappnad
        och välkomnande atmosfär. Oavsett om du
        behöver en trendig klippning, en
        färgförändring eller bara vill
        unna dig själv en avkopplande behandling,
        är vi här för att göra din tid hos oss minnesvärd.</p>

</div>
