/* HamburgerMenu.css */

.hamburger-menu[b-ypemt9yd6n] {
    position: relative;
}

.menu-btn[b-ypemt9yd6n] {
    cursor: pointer;
    display: block;
    padding: 10px;
}

.bar[b-ypemt9yd6n] {
    display: block;
    width: 30px;
    height: 3px;
    background-color: #333;
    margin: 6px 0;
    transition: 0.4s;
}

#menu-toggle[b-ypemt9yd6n] {
    display: none;
}

#menu-toggle:checked + .menu-button .bar:nth-child(1)[b-ypemt9yd6n] {
    transform: rotate(-45deg) translate(-5px, 6px);
}

#menu-toggle:checked + .menu-button .bar:nth-child(2)[b-ypemt9yd6n] {
    opacity: 0;
}

#menu-toggle:checked + .menu-button .bar:nth-child(3)[b-ypemt9yd6n] {
    transform: rotate(45deg) translate(-5px, -6px);
}

.menu-items[b-ypemt9yd6n] {
    list-style: none;
    padding: 0;
    margin: 0;
    position: absolute;
    top: 40px; /* Adjust as needed */
    left: 0;
    width: 90%;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    display: none;
    
}

#menu-toggle:checked + .menu-button + .menu-items[b-ypemt9yd6n] {
    display: block;
}

.menu-items li[b-ypemt9yd6n] {
    padding: 10px;
    border-bottom: 1px solid #ddd;
}
