@page "/available"
@inject HttpClient Http
@using System.Globalization 

<h1>Tillgänglighetsredogörelse för Ruddeby's frisör</h1>
<div class="availablediv">

<b>Här beskriver vi hur tillgänglig Ruddeby's frisör är och hur vi planerar att åtgärda brister. Här får du också information om hur du kan kontakta oss om du upptäcker brister.</b>
<p>Vår digitala service ska kunna uppfattas, hanteras och förstås av alla användare, oavsett till exempel funktionsnedsättningar och oberoende av vilka hjälpmedel de använder. Vår ambition är att åtminstone uppnå grundläggande tillgänglighet genom att följa relevanta delar av standarden EN301549, vilket är nästan samma sak som branschstandarden WCAG 2.1 nivå AA.</p>

<h2> Tillgänglighet på vår webbplats</h2>
<p>För närvarande uppfyller tjänsten helt kraven.</p>
<p>Bedömningen gjordes 2024-03-14</p>

<h3>Kontakta oss om du upplever hinder</h3>
<p>Kontakta oss om du på grund av ovanstående, eller av andra brister, hindras från att ta del av vår digitala service. Du kan kontakta oss på:</p>

<ul>
<li><a class="mailtext" href="ruddeby@outlook.com">ruddeby@outlook.com</a></li>
<li>070- 000 00 00</li>
</ul>
<p>Vi kommer att försöka åtgärda problemen och se till att du får den digitala service du har rätt till.</p>

<h3>Kontakta tillsynsmyndigheten</h3>

<p>Du kan vända dig till Myndigheten för digital förvaltning om du inte är nöjd med hur vi uppfyller kraven på tillgänglighet.</p>

<p>Denna redogörelse uppdaterades 2024-03-15.</p>
</div>