@page "/"

<PageTitle>Home</PageTitle>

<h1>Vad vill du göra?</h1>

<script>
    fetch("http://localhost:5099/api/customer")
    .then(response => response.json())
    .then(data => console.log(data));
</script>
