html {
  font-size: 14px;
}
.btn{
  background-color: #4c0202;
  color: #ffffff;
}
.btn:hover{
  color: #ffffff;
  text-decoration: underline;
}

.nav-item:hover{
text-decoration: underline;
}


@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}